<div class="container">
    <div *ngIf="user">
        <div class="card">
            <div class="card-header">
                <h2>Profil de {{user.username}}</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <div>
                            <strong>Role(s) : </strong>
                            <span class="mr-1" *ngFor="let r of user.roles">
                                <app-role-tag [roleName]=r.roleName>
                                </app-role-tag>

                            </span>
                        </div>
                        <div>
                            <strong>Presentation : </strong>
                            <p>{{user.description}}</p>
                        </div>
                        <div>
                            <strong>Recette : </strong>
                            <table>
                                <tr>
                                    <th>Derniere Edition</th>
                                    <th>Nom</th>
                                </tr>
                                <tr *ngFor="let r of user.recettes" (click)="goToRecette(r.id)">
                                    <td>{{r.dateDerniereEdition}}</td>
                                    <td>{{r.nom}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" src="assets/img/profile-icon.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>