<div>
    <!-- [boundaryLinks]="true" -->
    <div class="row justify-content-md-center">
        <ngb-pagination
        [collectionSize]="totalItems"
        [pageSize]="taillePage"
        [(page)]="noPage"
        (pageChange)="pageChanged($event)"
        [maxSize]="3"
        [rotate]="true">
            <ng-template ngbPaginationPrevious>Précédent</ng-template>
            <ng-template ngbPaginationNext>Suivant</ng-template>
            <!-- <ng-template ngbPaginationLast>Last</ng-template>
            <ng-template ngbPaginationFirst>First</ng-template> -->
        </ngb-pagination> 
    </div>
    <div class="row">
        <div *ngFor="let r of recettes.content" class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="RenvoyerImage(r)" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{r.nom}}</h5>
              <p class="card-text">{{r.dateDerniereEdition}}</p>
              <button (click)="goTo(r.id)" class="btn btn-primary">En savoir plus !</button>
            </div>
        </div></div>
        <div class="row justify-content-md-center">
            <ngb-pagination
            [collectionSize]="totalItems"
            [pageSize]="taillePage"
            [(page)]="noPage"
            (pageChange)="pageChanged($event)"
            [maxSize]="3"
            [rotate]="true">
                <ng-template ngbPaginationPrevious>Précédent</ng-template>
                <ng-template ngbPaginationNext>Suivant</ng-template>
                <!-- <ng-template ngbPaginationLast>Last</ng-template>
                <ng-template ngbPaginationFirst>First</ng-template> -->
            </ngb-pagination> 
        </div> 
</div>
